/* h1タグ（大見出し）の文字サイズ */
h1 {
    font-size: 2em; /* 標準の2倍の大きさ */
}

/* h2タグ（中見出し）の文字サイズ */
h2 {
    font-size: 1.5em; /* 標準の1.5倍の大きさ */
}

/* pタグ（段落）の文字サイズ */
p {
    font-size: 1em; /* 標準の大きさ（基本サイズ） */
}
